.logo {
  padding: 0 10px 0 10px;
  font-size: 2em;
  height: 42px;
  line-height: 42px;
  float: left;
}

.menuItem {
}

.appHeader {
  background-color: #fff;
}

.profileMenu {
  float: right !important;
}

.profileMenuItem {
}

.profileMenuItem span:first-child {
  padding: 10px;
}