@import './menu.css';

body {
  font-size: 14px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #5F5F5F;
  text-shadow: 2px 2px 0px #fcfcfc, -2px -2px 0px #fcfcfc, 3px 3px 1px #c1ced2;
}

.title {
  font-size: 1.6em;
  line-height: 2em;
  margin-bottom: 10px;
  color: #5F5F5F;
  text-shadow: 2px 2px 0px #fcfcfc, -2px -2px 0px #fcfcfc, 3px 3px 1px #c1ced2;
}

.subTitle {
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 10px;
  color: #5F5F5F;
  margin-left: 10px;
  text-shadow: 2px 2px 0px #fcfcfc, -2px -2px 0px #fcfcfc, 3px 3px 1px #c1ced2;
}


